body {
    font-size: 1em;
}
.heading {
  font-family: Roboto, sans-serif;
  display: flex;
    font-size: 50vw;
  justify-content: center;
  flex-wrap: wrap;
}
#lesspad {
    margin: 0px;
}
.date {
    font-weight: 200;
}
h2 {
    margin: 5% 0% 5% 5%;
    /*padding: 0px;*/
    font-weight: 100;
    font-size: 2em;
}
div {
    font-family: 'Open Sans', sans-serif;
}
#bold {
    font-weight: bold;
}
span, p {
    margin: 0px;
    padding: 0px;
}
