@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
}

header {
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}
